{% extends 'base.html.twig' %}

{% block body_id 'edit_book' %}

{% block main %}
    <h1>Edit Book </h1>

    {{ include('/books/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('books/_delete_form.html.twig', {book: book}, with_context = false) }}
    </div>
{% endblock %}
